<launch>
	<arg name="gps_topic" default="/fix" />

	<node name="gps_path_node" pkg="wheeltec_gps_driver" type="gps_path" output="screen">
	<remap from="/gps_topic"  to="$(arg gps_topic)" />	
	</node>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find wheeltec_gps_driver)/rviz/gps_path.rviz"/>


</launch>
